<h1>Entry Details</h1>

<div class="entry">
  <h2><%= @entry.title %></h2>
  <p><%= @entry.description %></p>
  <p>Occurred on: <%= @entry.occurred_on %></p>
  <% if @entry.image.attached? %>
    <%= image_tag @entry.image %>
  <% end %>
</div>
