<h1>New Place</h1>

<%= form_with(model: @place, local: true) do |form| %>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <button>Save</button>
</form>
<% end %>

